@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #373535;
  --background-start-rgb: #b5b9e0;
  --background-end-rgb: #b5b9e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #b5b9e0;
    --background-start-rgb: #373535;
    --background-end-rgb: #373535;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}
